QWidget#commandContainer {
    background-color: rgb(32, 32, 32);
    border: 2px inset rgb(42, 42, 42);
    border-radius: 6px;
    margin-right: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

QLabel#containerLabel {
    color: rgb(200, 200, 200);
    margin-top: 4px;
}

QPushButton#pbRemove {
    color: rgb(200, 200, 200);
    font-weight: bold;
}